*{
    padding: 0px;
    margin: 0px;
}

.CardItem{
    display: inline-block;
    background-color: #FB977B;
    width: 400px;
    height: 460px;
    margin: 10px;
}
.ItemImg{
    width: 50%;
    height: auto;
}
header{
    padding: 5px;
}
.ItemHeader{
    font-size: 1.2rem;
}

.ItemFooter{
    padding-top: 15px;
}