.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a{
  text-decoration: none;
}
a h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3.45rem;
  text-decoration: none;
  color: black;
}
a.ActiveOption{
  text-decoration: none;
  color: black;
    position: relative;
  padding: 10px 40px;
  margin: 0px 5px;
  border: none;
  outline: none;
  background: #FEE1C7;
  color: black;
  font-size: 1.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: .5s;
  border-radius: 10px;
}

a.Option {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 10px 40px;
  margin: 10px 5px;
  border: none;
  outline: none;
  background: #FEE1C7;
  color: black;
  font-size: 1.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: .5s;
  border-radius: 10px;
}
a:hover{
  color: #F65170;
}
img{
  width: 50px;
  margin-top: 20px;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4rem;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FA7E61;
  padding: 60px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
